# Backend
backend/images/
backend/JamesThewWebAPI/.idea
backend/JamesThewWebAPI/out
backend/JamesThewWebAPI/target
backend/JamesThewWebAPI/src/main/resources/.env
# Frontend
frontend/JamesThewWebApplication/.idea
frontend/JamesThewWebApplication/node_modules
frontend/JamesThewWebApplication/dist

# General
*.iml
.idea/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
