# Backend
backend/images/
backend/JamesThewWebApplication/.idea
backend/JamesThewWebApplication/out
backend/JamesThewWebApplication/target
backend/JamesThewWebApplication/src/main/resources/.env
# Frontend
frontend/WebApplication/.idea
frontend/WebApplication/node_modules
frontend/WebApplication/dist

# General
*.iml
.idea/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
